<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign In with Apple</title>
</head>
<body>

<div id="appleid-signin" data-color="black" data-border="true" data-type="sign in"></div>

<script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
<script type="text/javascript">
    AppleID.auth.init({
        clientId : "{{config.client_id}}",
        scope : "{{config.scope}}",
        redirectURI: "{{config.redirect_uri}}",
        state : "{{config.state}}"
    });
</script>

</body>
</html>
